@charset 'UTF-8';

@font-face {
	font-family: 'quicksand';
	src: url('fonts/Quicksand-Light.otf') format('truetype');
}

body {
    background-image: url("http://i.imgur.com/qwBraEP.png");
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    color: black; 
}

h1 {
	font-family: "quicksand";
	font-weight: 1500;
}

#header {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

a {
	color: gray;
	text-decoration: none;
	font-family: "quicksand";
	font-size:  large;
}

#icons {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
}

#contact li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.hover:hover, .hover:focus, .hover:active {
	color: black;
}