html, body{
  height: 100%;
}
@font-face {
	font-family: forum;
	src: url(Forum-Regular.tff);
}
body { 
			background-image: url(images/image.JPG) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999; 
}

div, body{
  margin: 0;
  padding: 0;  
}
.wrapper {
  height: 100%; 
  width: 100%; 
}
a {
	font-family: forum
}

