@charset 'UTF-8';

@font-face {
	font-family: 'quicksand';
	src: url('Quicksand-Light.otf') format('truetype');
}

@font-face {
	font-family: 'din';
	src: url('din.ttf') format('truetype');
}

body {
    background-image: url("solarsystem.jpg");
    background-color: #000000;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white; 

}

h1 {
	font-family: "quicksand";
	font-weight: 700;
}

a {
	color: gray;
	text-decoration: none;
	font-family: "quicksand";
}

#contact li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}