@font-face {
  font-family: 'quicksand';
  src: url('fonts/Quicksand-Regular.otf') format('truetype');
}

body {
  font-family: "quicksand";
  /*width: 200px;*/
}

div {
  display: inline-block;
}

img {
  width:167px; 
  height:250px;
}

.card {
  height: 250px;
  width: 167px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.card_content {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  padding-left: 5px;
  font-weight: 2000;
  bottom: -250px;
  height: 250px;
  width: 167px;
  
  transition: all 0.5s ease;
}

.card:hover .card_content {
  background-color: rgba(255,255,255,0.7);
  bottom: 0;
  font-size: 17px;
}
