@charset 'UTF-8';
@import url(font-awesome.min.css);

@font-face {
	font-family: 'quicksand';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'quicksand-light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

body {
	font-family: "quicksand-light";
	background-color: #ffffff;
	font-size: 1em;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#greeting {
	/*font-family: "quicksand";*/
	font-weight: 500;
	font-size: 4em;
}

.hover:hover, .hover:focus, .hover:active {
	color: #00695C;
}