@charset 'UTF-8';
@import url(font-awesome.min.css);

@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

body {
	font-family: 'OpenSans-Light';
	background-color: #ffffff;
	font-size: 1em;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#greeting {
	font-weight: 400; 
	font-size: 4em;
}

.hover:hover, .hover:focus, .hover:active {
	color: #b0bec5;
}